@charset "UTF-8";

/* 回答はここに書いてね */
/* 共通 */
.is-table {
  background-color: #eff3f4;
  padding: 20px;
}

.common {
  padding: 20px 0;
  display: table-cell;

}
.t-contents {
  text-align: center;
  display: table;
  margin-top: 20px;
  width: 100%;
}
.t-contents:first-child {
  margin-top: 0;
}

/* color */
.is-orange {
  background-color: #fbc8b8;
  width: 100px;
}
.is-blue {
  background-color: #b6d8ed;
  width: 100px;
}
.is-purple {
  background-color: #e0abd9;
}
.is-red {
  background-color: #e5d32e;
}
.is-yellow {
  background-color: #ec8f9a;
}
.is-green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
