@charset "UTF-8";

/* 回答はここに書いてね */
.common {
  position: absolute;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 30px;
}

.q5_box {
  background-color: #ecf1f2;
  position: relative;
  height: 500px;
  padding: 40px;
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.q5_inner_box {
  line-height: 100px;
  text-align: center;
}

.one {
  background-color: #ffefd3;
  top: 40px;
  right: 200px;
  z-index: 1;
}

.two {
  background-color: #7084de;
  top: 120px;
  right: 120px;
  z-index: 2;
}

.three {
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 3;
}

.four {
  background-color: #8b7a5e;
  bottom: 120px;
  right: 120px;
  z-index: 4;
}

.five {
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
  z-index: 5;
}

.six {
  background-color: #fffee4;
  position: absolute;
  bottom: 120px;
  left: 120px;
  z-index: 6;
}

.seven {
  background-color: #deae70;
  bottom: 200px;
  left: 40x;
  z-index: 7;
}

.eight {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.eight::after {
  position: absolute;
  content: "";
  left: 80px;
  bottom: 80px;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
}

.nine {
  background-color: #2b69a3;
  position: fixed;
  left: 10px;
  top: 10px;
}


/* 回答はここに書いてね */
