@charset "UTF-8";

/* 回答はここに書いてね nth-childあり*/
.q-table {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
}

.q-table th,
.q-table td {
  border: solid #dedede 1px;
  padding: 10px;
  vertical-align: middle;
}

/* 奇数行(odd or 2n+1)のグレー */
.q-table tr:nth-child(even) {
  background-color: #ecf1f2;
}

 /* thの青文字 */
.q-table th:nth-child(n+1),
.q-table th:first-child {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
/* 最後のダッシュ線 */
.q-table tr:nth-child(n+5) {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */

/* 3/3 山口メンター ⑴dashedが1行目の上に当たる⑵1行目に青bgcが当たってない⑶合計カロリーの値が真ん中じゃない

 ⑴
.q-table tr:last-child →.q-table tr:nth-child(n+5)



 ⑵
.q-table tr:first-child,→.q-table th:nth-child(n+1),


 ⑶
.q-table th,
.q-table td {
  border: solid #dedede 1px;
  padding: 10px;
<<vertical-align: middle; ←追加>>
*/


/* 回答はここに書いてね nth-childなし
.q-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
.q-table th ,tr ,td{
  border: solid #dedede 1px;
  padding: 10px;

}
.is-grey {
  background-color: #ecf1f2;
}
.q-table th {
  background-color: #2244aa;
  line-height: 26px;
  font-size: 18px;
  color: white;
}
.is-dashed {
  border-top: dashed #000 2px;
} */
/* 回答はここに書いてね */
