@charset "UTF-8";

/* 回答はここに書いてね */
.box__inner {
  margin-top: 30px;
}

.t-box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 500px;
  height: 333px;
  cursor: pointer;
}

.t-text-mask {
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 8));
  transition: 0.5s;
}

.t-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  line-height: 16px;
  font-size: 16px;
  word-break: break-all;
}

.t-box:hover .t-img {
  transform: scale(1.5, 1.5);
  transition: 0.5s;

}
.t-box:hover .t-text-mask {
  bottom: 0;
}
/* bgimgでできる？→×
width: 500px;
height: 333px;
background-image: url(http://gizumo-inc.github.io/sample/front-lesson/layout_parts_new/assets/img/q9/thumb.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center; */


/* q8-2 */
.rolling {
width: 100px;
height: 100px;
margin: 0 auto;
border: 10px solid #ecf1f2;
border-radius: 60px;
border-right-color: #00bcd4;
animation: spin 1s infinite linear;
}

@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

/* 回答はここに書いてね */
